binder_call(rild, audioserver)
binder_call(rild, mediaserver)
binder_use(rild)
binder_service(rild)

# Grant access to Qualcomm MSM Interface (QMI) radio sockets to RILD
qmux_socket(rild)

allow rild persist_file:dir search;
allow rild persist_modem_file:dir rw_dir_perms;
allow rild persist_modem_file:file create_file_perms;

allow rild time:unix_stream_socket connectto;
allow rild sysfs_capsense_update:file { getattr w_file_perms};
allow rild sysfs_sar_wifi:file { getattr w_file_perms};

allow rild audio_cutback_data_file:dir rw_dir_perms;
allow rild audio_cutback_data_file:sock_file create_file_perms;
# why?
allow rild audio_cutback_data_file:dir setattr;

# rild needs to parse through /proc to obtain pid of netmgrd
r_dir_file(rild, netmgrd)
# b/18352920 suppress denials until the procfs lookup is removed
dontaudit rild domain:dir r_dir_perms;

# Allow permissions for FSG
allow rild fsg_file:dir search;
allow rild fsg_file:file r_file_perms;

allow rild audioserver_service:service_manager find;
allow rild mediaserver_service:service_manager find;

# whitelist qualcomm specific ioctls
allow rild self:socket ioctl;
allowxperm rild self:socket ioctl msm_sock_ipc_ioctls;

# allow rild to access radio data file
allow rild radio_data_file:dir rw_dir_perms;
allow rild radio_data_file:file create_file_perms;

# for /system/bin/qmi_motext_hook
allow rild system_file:file execute_no_trans;

allow rild init:file { getattr open read };
allow rild kernel:file { open read getattr };
allow rild proc:file { open read };
allow rild hal_cas_default:file { open read getattr };
allow rild servicemanager:file { getattr open read };
allow rild ueventd:file { getattr open read };
allow rild vendor_init:file { getattr open read };
allow rild adbd:file { open read getattr };
allow rild hal_configstore_default:file { read getattr open };
allow rild hwservicemanager:file { getattr open read };
allow rild logd:file { getattr open read };
allow rild thermalserviced:file { getattr open read };
allow rild vndservicemanager:file { getattr open read };
allow rild hal_drm_default:file { open read getattr };
allow rild surfaceflinger:file { getattr open read };
allow rild vold:file { open read getattr };
allow rild zygote:file { open read getattr };
allow rild hal_dumpstate_default:file { getattr open read };
allow rild healthd:file { getattr open read };
allow rild hal_graphics_allocator_default:file { open read getattr };
allow rild hal_health_default:file { getattr open read };
allow rild hal_light_default:file { read getattr open };
allow rild netd:file { getattr open read };
allow rild qmux:file { read getattr open };
allow rild hal_power_default:file { open read getattr };
allow rild hal_thermal_default:file { getattr open read };
allow rild hal_usb_default:file { open read getattr };
allow rild hal_vibrator_default:file { open read getattr };
allow rild hal_wifi_default:file { getattr open read };
allow rild tee:file { open read getattr };
allow rild mdm_helper:file { getattr open read };
allow rild sensors:file { open read getattr };
allow rild audioserver:file { getattr open read };
allow rild lmkd:file { getattr open read };

allow rild diag_device:chr_file { read write };

